<div class="row">
	<div class="col-md-4"><!-- Just makin' some space! --></div>
	<div class="col-md-4">
		<h1>Login</h1>
		<%= form_for(:session, url: login_path) do |f| %>	
			<div class="row">
				<div class="col-md-12">
					<div class="field form-group">
					    <%= f.label :username %><br>
					    <%= f.text_field :username, :class => "form-control" %>
				  	</div>
			  	</div>
		  	</div>
		  	<div class="row">
				<div class="col-md-12">
				  	<div class="field form-group">
					    <%= f.label :password %><br>
					    <%= f.password_field :password, :class => "form-control" %>
				  	</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
				  	<div class="actions form-group">
				    	<%= f.submit "Login", :class => "btn btn-default" %>
				  	</div>	  	
			  	</div>
			</div>
		<% end %>
	</div>
	<div class="col-md-4"><!-- Just makin' some space! --></div>
</div>
